@model MealMaster.Models.IngredientModel

@{
    ViewBag.Title = "CreateEditIngredient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ny ingrediens</h2>



<form action="CreateEditIngredient.cshtml">
  <div class="x-container">
    <div class="x-formrow">
        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
        
    </div>
      <div class="x-formrow">
        @Html.LabelFor(model => model.Description)
        @Html.TextAreaFor(model => model.Description)
        @Html.ValidationMessageFor(model => model.Description)
      </div>
    <div class="x-formrow">
        @Html.LabelFor(model => model.EnergyInKcal)
        @Html.EditorFor(model => model.EnergyInKcal)
        @Html.ValidationMessageFor(model => model.EnergyInKcal)
    </div>
    <div class="x-formrow">
        @Html.LabelFor(model => model.ProteineWeightPercent)
        @Html.EditorFor(model => model.ProteineWeightPercent)
        @Html.ValidationMessageFor(model => model.ProteineWeightPercent)
    </div>
    <div class="x-formrow">
        @Html.LabelFor(model => model.CarbonHydrateWeightPercent)
        @Html.EditorFor(model => model.CarbonHydrateWeightPercent)
        @Html.ValidationMessageFor(model => model.CarbonHydrateWeightPercent)
    </div>
    <div class="x-formrow">
        @Html.LabelFor(model => model.FatWeightPercent)
        @Html.EditorFor(model => model.FatWeightPercent)        
        @Html.ValidationMessageFor(model => model.FatWeightPercent)
    </div>
    <div class="x-formrow">
        @Html.LabelFor(model => model.AlcoholVolumePercent)
        @Html.EditorFor(model => model.AlcoholVolumePercent)     
    </div>
    <div>
        <input type="submit" formaction="SaveIngredient" value="Gem ingrediens"/>
    </div>
  </div>
</form>